<div class="card">
  <div class="card-header">
    <%= t("admin.badges.show.title") %>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b><%= t('admin.badges.show.title') %>:</b> <%= @badge.title %></li>
      <% if @badge.image.attached? %>
        <li class="list-group-item"><b><%= image_tag @badge.image %></b></li>
      <% else %>
        <li class="list-group-item"><b><%= t('admin.badges.show.no_image') %>:</b> <%= @badge.image %></li>
      <% end %>
      <li class="list-group-item"><b><%= t('admin.badges.show.rule_name') %>:</b> <%= @badge.rule_name %></li>
      <li class="list-group-item"><b><%= t('admin.badges.show.rule_value') %>:</b> <%= @badge.rule_value %></li>
    </ul>
    <div class="card-footer">
      <div class="btn-group" role="group" aria-label="Badge Actions">
        <%= link_to t("admin.badges.show.edit"), edit_admin_badge_path(@badge), class: "btn btn-primary" %>
        <%= link_to t("admin.badges.show.delete"),
                    admin_badge_path(@badge),
                    method: :delete,
                    data: { turbo_confirm: t("admin.tests.show.confirm") },
                    class: "btn btn-danger" %>
        <%= link_to t("admin.badges.show.back"), admin_badges_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>