<header>
  <nav class="navbar navbar-expand-lg bg-dark text-white">
    <%= link_to 'TestGuru', root_path, class: "navbar-brand text-white" %>
    <%= link_to t('.gists'), admin_gists_path %>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <%= t(".welcome") %> <b><%= current_user.email %></b> Guru
      </li>
      <li class="nav-item">
        <%= link_to t(".logout"),
                    destroy_user_session_path,
                    data: { turbo_method: :delete }, class: 'nav-link text-white' %>
      </li>
    </ul>
  </nav>
</header>
