<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "TestGuru", root_path, class: "navbar-brand text-white" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('.tests'), admin_tests_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.gists'), admin_gists_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to t('.badges'), admin_badges_path, class: "nav-link text-white" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="nav-link text-white"><%= t(".welcome") %> <b><%= current_user.email %></b> Guru</span>
        </li>
        <li class="nav-item">
          <%= link_to t(".logout"), destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'nav-link text-white' %>
        </li>
      </ul>
    </div>
  </nav>
</header>
