<h1><%= t(".title", title: @test_passage.test.title ) %></h1>

<b>
  <%= @test_passage.current_question.body %>
</b>

<p><%= t(".questions", count: @test_passage.test.questions.count) %></p>
<p><%= t(".id", id: @test_passage.current_question.id )%></p>

<%= form_with url: test_passage_path(@test_passage), method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false, id: :answer_body do |b| %>
    <p>
      <label for="answer_body_<%= b.object.id %>">
        <%= b.check_box %>
        <%= b.label %>
      </label>
    </p>
  <% end %>

  <p><%= form.submit t(".next") %></p>
<% end %>
