<header>
  <p><%= link_to 'TestGuru', root_path %></p>

  <% if logged_in? %>
    <div class="nav user">
      <p>Welcome, <b><%= current_user.email %></b> Guru</p>
      <p><%= link_to 'Logout',
                     logout_path,
                     data: { turbo_method: :delete,
                             turbo_confirm: 'Are you sure' } %></p>
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Signup', signup_path %>
    </div>
  <% end %>
</header>
