<header>
  <p><%= link_to 'TestGuru', root_path %></p>

  <% if user_signed_in? %>
    <p class="nav user">
      Welcome, <b><%= current_user.email %></b> Guru
      <%= link_to 'Logout',
                  logout_path,
                  data: { turbo_method: :delete,
                          turbo_confirm: 'Are you sure' } %>
    </p>
  <% else %>
    <p>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Signup', signup_path %>
    </p>
  <% end %>
</header>
