<h1><%= t("admin.answers.show.question") %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t("admin.answers.show.answer") %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t("admin.answers.show.correct") %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t("admin.answers.show.back"), admin_question_path(@answer.question) %>
