<h1><%= t("admin.questions.show.title") %>:</h1>

<div><%= @question.body %></div>

<%= link_to t("admin.questions.show.edit"), edit_admin_question_path(@question) %>
<%= link_to t("admin.questions.show.delete"),
            admin_question_path(@question),
            data: { turbo_method: :delete,
                    turbo_confirm: t("admin.questions.show.confirm") } %>
<%= link_to t("admin.questions.show.back"), admin_test_path(@question.test) %>

<h2><%= t("admin.questions.show.answers") %></h2>

<%= link_to t("admin.questions.show.answer"), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
