<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t("devise.form.sessions.title") %></h2>

    <div class="card border-primary">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <p>
              <%= f.label :email, t("devise.form.sessions.email") %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </p>

            <p>
              <%= f.label :password, t("devise.form.sessions.password") %><br/>
              <%= f.password_field :password, autocomplete: "current-password" %>
            <p>

              <% if devise_mapping.rememberable? %>
              <div class="form-check ps-0">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, t("devise.form.sessions.remember") %>
              </div>
            <% end %>

            <%= f.submit t("devise.form.sessions.submit") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
