<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel | TestGuru</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<%= render 'admin/nav' %>
<%= render 'shared/flash' %>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
