<tr data-test-id="<%= test.id %>">
  <td>
    <span class="test-title"><%= test.title %></span>
    <div class="form-inline d-none"><%= render 'form_inline', test: test == @test ? @test : test %></div>
  </td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to t("admin.tests.test.show"), admin_test_path(test) %></td>
  <td><%= link_to t("admin.tests.test.edit"), edit_admin_test_path(test), class: 'form-inline-link', data: { test_id: test.id } %></td>
  <td><%= link_to t("admin.tests.test.delete"),
                  admin_test_path(test),
                  data: { turbo_method: :delete, turbo_confirm: t("admin.tests.test.confirm") } %></td>
</tr>
