<h1><%= t("admin.tests.index.title") %></h1>

<div class="d-flex justify-content-between align-items-center mb-3">
  <%= link_to t("admin.tests.index.new"), new_admin_test_path, class: "btn btn-primary" %>
</div>

<% if @tests.present? %>
  <%= link_to t("admin.tests.index.new"), new_admin_test_path %>
  <div data-controller="tests-inline-form">
    <div data-tests-inline-form-target="errors">
      <%= render 'shared/errors', resource: @test %>
    </div>
    <table class="table table-striped table-hover text-center" data-controller="tests-table">
      <thead>
      <tr>
        <th data-tests-table-target="questionHeader">
          <%= t("admin.tests.index.question") %>
          <span data-tests-table-target="arrowUp" class="text-success"> <%= octicon 'arrow-up' %> </span>
          <span data-tests-table-target="arrowDown" class="text-success d-none"> <%= octicon 'arrow-down' %> </span>
        </th>
        <th><%= t("admin.tests.index.level") %></th>
        <th><%= t("admin.tests.index.questions") %></th>
        <th colspan="4"><%= t("admin.tests.index.actions") %></th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'admin/tests/test', collection: @tests %>
      </tbody>
    </table>
<% else %>
  <div class="alert alert-info text-center mt-3">
    <%= t("admin.tests.index.no_tests") %>
  </div>
  </div>
<% end %>
