<h1><%= t("admin.tests.show.title") %>:</h1>

<table>
  <tr>
    <td><%= @test.title %></td>
    <td><%= @test.level %></td>
    <td><%= link_to t("admin.tests.show.edit"), edit_admin_test_path(@test) %></td>
    <td><%= link_to t("admin.tests.show.delete"),
                    admin_test_path(@test),
                    data: { turbo_method: :delete,
                            turbo_confirm: t("admin.tests.show.confirm") } %></td>
    <td><%= link_to t("admin.tests.show.question"), new_admin_test_question_path(@test) %></td>
    <td><%= link_to t("admin.tests.show.back"), admin_tests_path %></td>
  </tr>
</table>

<%= render partial: 'admin/questions/question', collection: @test.questions %>
