<div class="col-md-3 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= test.title %></h5>
      <p class="card-text">Уровень: <%= test.level %></p>
      <p class="card-text">Вопросы: <%= test.questions.count %></p>
      <a href="<%= test_passage_path(test) %>" class="btn btn-primary btn-sm"><%= t(".start") %></a>
    </div>
  </div>
</div>
